/* header css */

* {
    margin: 0px;
    padding: 0px;
    }

header {
    background-image: url("../images/mainbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 86%;
    padding: padding 40px 55px;
    margin:25px auto;
    margin-top: 0;
    border-bottom: 3px solid rgb(3, 71, 70);
    color:rgb(3, 71, 70);
    display: flex;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    justify-content: space-between;
}

header h1 {
    font-style: italic;
    margin: 10px 0;
}

header a {
    text-decoration: none;
    font-size: 30px;
    padding: 0 15px;
    font-weight: bolder;
    color:rgb(3, 71, 70);
}

header nav {
    margin: 10px 0;
}

body {
    background-image: url("../images/mainbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    display: flex;
    flex-wrap: wrap;
}

/*               Section Container CSS          */

.section-container {
    width: 85%;
    height: 85%;
    margin: auto;
    margin-bottom: 25px;
    box-shadow: 0px 0px 11px -2px #000000;
    
}

/*               About Me Section CSS               */

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    background: lemonchiffon;
    
}

#about-me-text {
    width: 60%;
    padding-top: 20px;
    
}
#about-me-text h2{
    margin-left: 15%;
    padding-top: 20px;
}

#about-me-text p {   
    margin: 2%;
}

#about-me-text ul {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 5%;
}
#about-me-text li{
    margin: 5px 15px;
}

#about-me-photo {
    width: 35%;
    border-right: 5px solid black;
    margin-right: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
}

#about-me-photo img {
    padding: 5px;
    width: 95%;
    height: auto;
}

.linebreaker {
    width: 100%;
}

/*               My Work Section CSS              */

.my-work {
    width: 100%;
    height: 100%;
    background: slategrey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.section-text {
    width: 35%;
    border-right: 5px solid black;
    margin-right: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.my-work-links {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.my-work-links a {
    opacity: 0.6;
}
.my-work-links a:hover {
    opacity: 1;
}

.big-project {
    width: 90%;
   
} 
.big-project img {
    width: 100%;
    height: 100%;
}

.little-project {
    width: 45%;
} 
.little-project img {
    width: 100%;
    height: 100%;
}

/*           Contact Me Section CSS            */

.contact-me{
    width: 100%;
    height: 100%;
    background: lemonchiffon;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-link {
    width: 23%;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contact-link a {
    justify-content: center;
    
}

.contact-link a img {
    width: 50px;
    height: 50px;
    border-radius: 15%;
    display: block;
    margin: 0 auto;
    
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*      Media Queries     */

@media screen and (max-width: 820px) {
    .section-container {
        width: 85%;
    }

    header {
        justify-content: center;
        position: relative;
        border: 3px solid black;
        margin: 0 auto;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header a {
        margin-top: 20px;
        width: 95%;
        justify-content: center;
        font-size: 18px;
    }

    #about-me {
        align-items: center;
        width: 100%;
        margin: 0 auto;

    }

    #about-me-text {
        width: 90%;
        margin: 0;
        padding: 0;
    }
     #about-me-text ul {
         flex-direction: column;
     }

    #about-me-photo {
        width: 90%;
        border: none;
        padding: 10px;
    }
    #about-me-photo {
        width: 80%;
        height: auto;
    }

   .my-work {
      width: 100%;
    }

    .section-text {
        padding: 20px;
        width: 85%;
    }

   .contact-me {
    width: 100%;
    }

    #my-work-text, 
    .my-work-links,
    .contact-me h4,
    .contact-link {
        width: 100%;
    }

    #my-work-text,
    .contact-me h4{
        margin-right: 0;
        text-align: center;
    }
    
    .section-text {
        border: none;
    }

    .my-work-links a {
        opacity: 1;
        margin: 10px auto;
    }

    .little-project {
        width: 90%;
        opacity: 1;
    }

    .contact-link {
        justify-content:space-between;
        padding: 20px;
        font-size: 15px;
    }
}

